
/*--------------------

      section 1
---------------------*/



body{
    background-color: #F3f1ff;
}

.container{

background-color: #ffffff;
width: 870px;
padding: 20px;
margin-top: 20px;
border-radius: 5px;

}


main{

display: flex;
flex-direction: column;
/*justify-content: center;*/
align-items: center;
}


.section-title{
color:rgb(61, 61, 6);
margin-left: 10px;
font-size: 30px;
margin-top: 3px;
}


.playars{

    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-row-gap:20px;

}

.playars img{

  width: 56px;
  height: 56px;
  

}


.plyear{

display: flex;
margin: 10px;
align-items: center;
}

.pla1{

margin-left: 16px;

}
hr{

    margin-bottom: 20px;
}

hr:hover{
border: 1px solid black;

}
 

/*----------section two-------
------------section 2-------------*/


.blog .thumbnail img{

width: 177px;
height: 117px;

 
}


.blog{
display: flex;

}

.blog-info{

margin-left: 16PX;

}

.blog-auther{

    font-size: 20px;
}


.blog-auther a{

text-decoration: none;
margin-left: 10px ;

}



.blogs{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-row-gap:30px;


}




/*------------

section 333333333

------------------*/



.course .course-banner img{

width: 224px;
height: 104px;

}

.mozai{

color: orangered;

}


.course-info{

  display: flex; 
  align-items: center; 
  justify-content: space-between;
}


.courses{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-column-gap: 10px;

}

.course{
width: 200px;

}








/*--------------------

      media query
-----------------------*/

/*mobile screen*/


@media only screen and (max-width:688px){
    
    .container{
        width: 100%;
    }


    .plyear, .blog, .course{
flex-direction: column;

    }

    .playars, .blogs, .courses{

grid-template-columns: repeat(1,1fr);

}


}

/*----------------
tablet device

-----------------*/

@media only screen and (min-width: 688px) and (max-width: 992px){

    .container{
        width: 100%;
    }


    .playars, .courses{

        grid-template-columns: repeat(2,1fr);

    }

    .blogs{

        grid-template-columns: repeat(1,1fr);

    }



}









